.scroll-btn {
  width: 2.2vw;
  height: 2.2vw;
  padding: 0;
  font-size: 1.67vw;
  line-height: 1.46vw;
  background: var(--btn);
  border: 0.31vw solid var(--border);
  cursor: pointer;
  position: absolute;
}

.scroll-btn.left {
  left: 0.52vw;
}

.scroll-btn.right {
  right: 0.52vw;
}
